//bootstrap var overwrite
@import 'traceit-colors';

$brand-primary:         #5CA155 !default;

//tooltip opacity
$tooltip-opacity:                 1 !default;

//icon path
$icon-font-path: ("../../assets/img/") !default;


